:root {
    --font-family: Star Wars, Fantasy;
    --bg-color: #e0cb97; 
    --primary-color: #801515;
    --highlight-color: #D46A6A
    /* #CAEDFF */
}

body {
    font-family: var(--font-family);
    background-color: var(--bg-color);
    color: var(--primary-color);

    min-height: 100vh;
    display: flex; /* alinhamento dos itens na horizontal */
    flex-direction: column; /* alinhamento dos itens na vertical */
    align-items: center; /* alinhamento do conteúdo na horizontal */
    justify-content: center; /* alinhamento do conteúdo na vertical */
    text-align: center;
    margin: 0;
}

header {
    display: flex;
    min-width: 95vw; /*tá ruim... precisa consertar*/
    background-color: var(--primary-color);
    --tw-shadow-color: #94a3b8;
    box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
    padding-left: 2rem; /* 32px */
    padding-right: 2rem; /* 32px */
    padding-top: 1rem; /* 16px */
    padding-bottom: 1rem; /* 16px */
    justify-content: space-between;
}

#img-filme {
    width: 24rem; /* 384px */
    height: 12rem; /* 192px */
    border-radius: 0.5rem 0.5rem 0 0; /* 8px */;
    
}

#img-header {
    height: 5rem; /* 80px */
}

p {
    margin: 5px;
    text-align: justify;
}

#header-icones {
    color:var(--primary-color);
    display: flex;
    gap: 0.5rem; /* 8px */
    align-items: flex-end;
    margin-left: 0.5rem; /* 8px */
    margin-right: 0.5rem; /* 8px */
}

#container-filme {
    display: flex;
    flex-wrap: wrap;
    padding: 2.5rem; /* 40px */
    justify-content: center;
    gap: 0.05rem; /* 40px */;
}

#card-filme {
    border: 1px solid var(--primary-color);
    border-radius: 0.75rem; /* 12px */;
    margin: 0.125rem; /* 2px */
    /* margin: 0.5rem; 8px --> fica mais espaçado... verificar*/
    width: 24rem; /* 384px */
}
